.alpha
{
    background-color: aqua;
    border: blue;
    height:300px;
    width:500px;
    border: double;
    border-radius: 10px;

}
input
{
    border-radius: 5px;
}

select
{
    border-radius: 5px;
}

.image
{
     width: 200px;
	 height: 200px;
	 border-radius: 50%;
}
